/*-------------------------------------------------------------------------------|
    Enjam: Personal Portfolio HTML Tempalte Main stylesheet
    Anthor: MD Enjamul Islam
    Anthor URL: 
    Virsion: 1.0
    Primary color: 
-------------------------------------------------------------------------------*/

/*
|--------------------------------------------------------------------------------
    [Tabels of contents]

    1. FONTS
    2. BODY
    3. COMMON CSS
    

|--------------------------------------------------------------------------------
*/

/*----------------------------------------------
    1. FONTS / google font
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Open+Sans:400,400i,600,600i,700,700i');


/*---------------------------------------------
    2. BODY
---------------------------------------------*/
body {
    color: #111;
    font-family: cursive;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    overflow-x: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*---------------------------------------------
    3. COMMON CSS
---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    color: #111;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    color: #04b962;
    text-decoration: none;
}











/*---------------------------------------------
    4. HEADER / .header-nav
---------------------------------------------*/
#header {}
.header-nav {
    background: #ffffff;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    top: 0;
    width: 100%;
    z-index: 9;
}
.header-nav.menu-bg {
    height: 56px;
    width: 100%;
    position: fixed;
}

/* menu start */

.header-nav {}
.navbar {
    padding: 0;
    margin: 0;
}
.navbar-brand > img {
    height: 80px;	
    -webkit-transition: height 0.4s ease-in-out;
	-moz-transition: height 0.4s ease-in-out;
	-o-transition: height 0.4s ease-in-out;
	-ms-transition: height 0.4s ease-in-out;
	transition: height 0.4s ease-in-out;
}
.menu-bg .navbar-brand > img {
    height: 56px;
}
.header-nav .navbar-nav {
    float: right;
}
.header-nav .navbar-nav .nav-item {
    position: relative;
}
.header-nav .navbar-nav .nav-item:last-child {
    border-right: 0;
}

.header-nav .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    padding: 28px 20px;
}
.menu-bg .navbar-nav .nav-item .nav-link {
    padding: 16px 20px;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #111;
}

/*---------------------------------------------
    5. home-top-banner
---------------------------------------------*/

#home {}
.banner {
    background-image: url(../images/profile/banner-image-1.jpg);
    background-position: center;
    background-size: cover;
}
.home-top-banner {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}
.display-table {
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}
.display-table-call {
    display: table-cell;
    vertical-align: middle;
}
.banner-content {
    max-width: 100%;
    text-align: center;
    margin-top: 80px;
}
.banner-content > h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 550;
    text-align: center;
    margin: 0 0 10px;
    color: #fff;
}
.banner-content > h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 25px;
    color: #fff;
}


/*----- Typewrite ------- */
/* Type */
.banner-content h1.type-animate a.typewrite{
	color: #fff;
	font-size: 32px;
}




/*
|----------------------------------------------------------------------------
	6. SOCIAL / .social-icon
|----------------------------------------------------------------------------
*/
.banner-content ul {
    display: inline-block;
}
.list-inline.list-social {
    margin: 0 0 30px;
    padding: 0;
    display: inline-block;
}
.list-social.list-inline > li {
    padding: 0;
    float: left;
}
.social-icon {
    border: none;
    border-radius: 8px 2px;
    color: #04b962;
    display: block;
    height: 32px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    text-shadow: none;
    width: 32px;
}
.social-icon-rounded {
    border-radius: 50%;
}
.social-icon-dark, .social-icon-light {
    border-color: transparent;
}
.social-icon-dark {
    background-color: #444;
    color: #fff;
}
.social-icon-light, .footer .social-icon-light {
    background-color: #f0f0f0;
    color: #666;
}
.social-icon-colored, .share-icon .social-icon-colored {
    border-color: transparent;
}
.social-icon.social-icon-small {
    height: 28px;
    width: 28px;
}
.social-icon.social-icon-large {
    height: 44px;
    margin: 0 10px 10px 0;
    width: 44px;
}
.social-icon i {
    display: block;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
    position: relative;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.social-icon:hover i:first-child {
    margin-top: -32px;
}
.social-icon.social-icon-small i {
    font-size: 16px;
    line-height: 28px;
}
.social-icon.social-icon-small:hover i:first-child {
    margin-top: -28px;
}
.social-icon.social-icon-large i {
    font-size: 34px;
    line-height: 44px;
}
.social-icon.social-icon-large:hover i:first-child {
    margin-top: -44px;
}

.social-icon:hover {
	text-decoration: none;
}
.social-icon-colored.social-icon, .social-icon:hover {
    border-color: transparent;
}
.social-icon-colored.social-icon-facebook, .social-icon-facebook:hover {
    background-color: #3b5998;
}
.social-icon-colored.social-icon-twitter, .social-icon-twitter:hover {
    background-color: #00acee;
}
.social-icon-colored.social-icon-gplus, .social-icon-gplus:hover {
    background-color: #dd4b39;
}
.social-icon-colored.social-icon-linkedin, .social-icon-linkedin:hover {
    background-color: #0077b5;
}
.social-icon-colored.social-icon-vimeo, .social-icon-vimeo:hover {
    background-color: #1ca7cc;
}
.social-icon-colored.social-icon-pinterest, .social-icon-pinterest:hover {
    background-color: #cb2027;
}
.social-icon-colored.social-icon-dribbble, .social-icon-dribbble:hover {
    background-color: #ec4a89;
}
.social-icon-colored.social-icon-rss, .social-icon-rss:hover {
    background-color: #fb9f3c;
}
.social-icon-colored.social-icon-flickr, .social-icon-flickr:hover {
    background-color: #ff0084;
}
.social-icon-colored.social-icon-instagram, .social-icon-instagram:hover {
    background-color: #bc2a8d;
}
.social-icon-colored.social-icon-youtube, .social-icon-youtube:hover {
    background-color: #bb0000;
}
.social-icon-colored.social-icon-skype, .social-icon-skype:hover {
    background-color: #12a5f4;
}
.social-icon-colored.social-icon-yahoo, .footer .social-icon-yahoo:hover {
    background-color: #7B0099;
}
.social-icon-colored.social-icon-tumblr, .social-icon-tumblr:hover {
    background-color: #32506d;
}
.social-icon i:last-child {
    color: #fff;
}
